body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f4f6;
    overflow: hidden; /* Prevent double scrollbars */
}

#main-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#game {
    width: 100%;
    max-width: 400px;
    height: 100%;
    overflow-y: auto;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
}

.hide {
    display: none;
}

.btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    font-size: 16px;
    outline: none;
}

.btn-container {
    display: flex;
    flex-direction: column;
}

.btn:hover {
    background-color: #0056b3;
}

.btn:active {
    background-color: #003d99; /* Temporary active state */
}

.correct {
    color: green;
}

.wrong {
    color: red;
}

#result-container {
    margin-top: 20px;
    text-align: left;
}

#result-container p {
    margin: 5px 0;
}

#result-container hr {
    margin: 10px 0;
}

button:focus {
    outline: none;
}
